Repository opensource-observer/oss-directory: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ignore-path .gitignore, prettier --write, poetry run ruff check --fix, pnpm pyright

.lintstagedrc:

{
  "**/*.{js,jsx,ts,tsx}": [
    "eslint --ignore-path .gitignore",
    "prettier --write"
  ],
  "**/*.{md,json,yaml,yml}": [
    "prettier --write"
  ],
  "**/*.{py}": [
    "poetry run ruff check --fix",
    "pnpm pyright"
  ]
}

feat: fill in velo alm, crosschain factories (#678)
  data/projects/a/aerodrome-finance.yaml
  data/projects/v/velodrome.yaml
Due: prettier --write

Update layerswap.yaml (#669)
  data/projects/l/layerswap.yaml
Due: prettier --write

Update cobuilders-xyz.yaml
  data/projects/c/cobuilders-xyz.yaml
Due: prettier --write

fix: manually update remix ide plugin
  data/collections/arb-stylus.yaml
  data/projects/r/remix-arbitrum.yaml
Due: prettier --write

fix: edit typo
  data/projects/r/remix-arbitrum.yaml
Due: prettier --write

fix: edit project name
  data/collections/arb-stylus.yaml
  data/projects/r/remix-arbitrum.yaml
Due: prettier --write

fix: edit file name
  data/projects/r/remix-arbitrum-welldonestudio.yaml
Due: prettier --write

fix: add url key to github urls
  data/projects/r/remix-arbitrum-welldonestudio.yaml
Due: prettier --write

fix: add url key to github urls (#683)
  data/collections/arb-stylus.yaml
  data/projects/r/remix-arbitrum-welldonestudio.yaml
Due: prettier --write

Update onchaingm.yaml
  data/projects/o/onchaingm.yaml
Due: prettier --write

Update onchaingm.yaml (#684)
  data/projects/o/onchaingm.yaml
Due: prettier --write

bumping version
  package.json
  pyproject.toml
Due: prettier --write

bumping version (#685)
  package.json
  pyproject.toml
Due: prettier --write

fix: remove create2 factory
  data/projects/a/aperture-finance.yaml
Due: prettier --write

adds new projects
  data/projects/g/gainsnetwork.yaml
  data/projects/j/javsphere.yaml
  data/projects/k/krystaldefi.yaml
Due: prettier --write

fix two, add two (#686)
  data/projects/a/aperture-finance.yaml
  data/projects/g/gainsnetwork.yaml
  data/projects/j/javsphere.yaml
  data/projects/k/krystaldefi.yaml
Due: prettier --write

feat: allow passing in options to `fetchData` in Javascript
  README.md
  package.json
  src/fetchData.ts
  src/validator/index.ts
Due: eslint --ignore-path .gitignore, prettier --write

feat: allow passing in options to `fetchData` in Javascript (#687)
  README.md
  package.json
  src/fetchData.ts
  src/validator/index.ts
Due: eslint --ignore-path .gitignore, prettier --write

fix: pyth-network dups
  data/projects/p/pyth-network.yaml
Due: prettier --write

add eas predeploys
  data/projects/e/ethereum-attestation-service.yaml
Due: prettier --write

fix: pyth and eas predeploys (#688)
  data/projects/e/ethereum-attestation-service.yaml
  data/projects/p/pyth-network.yaml
Due: prettier --write

add monerium
  data/projects/m/monerium.yaml
Due: prettier --write

add Monerium (#689)
  data/projects/m/monerium.yaml
Due: prettier --write

fix: remove `invalid` defillama slugs
  data/projects/a/aave.yaml
  data/projects/k/kelp-dao.yaml
  data/projects/p/pancakeswap.yaml
Due: prettier --write

add: defillama slug checker to the `validate` script
  src/actions/validate.ts
Due: eslint --ignore-path .gitignore, prettier --write

fix: remove `invalid` defillama slugs (#691)
  data/projects/a/aave.yaml
  data/projects/k/kelp-dao.yaml
  data/projects/p/pancakeswap.yaml
  src/actions/validate.ts
Due: eslint --ignore-path .gitignore, prettier --write

add nerd3 :
  data/projects/n/nerd3lab.yaml
Due: prettier --write

add: new `defillama` action validation
  src/actions/defillama.ts
Due: eslint --ignore-path .gitignore, prettier --write

add: new `validate-defillama-slugs` subcommand
  src/cli.ts
Due: eslint --ignore-path .gitignore, prettier --write

fix: decouple `defillama` validation from project validation
  src/actions/validate.ts
Due: eslint --ignore-path .gitignore, prettier --write

fix: decouple `defillama` validation from project validation (#693)
  src/actions/defillama.ts
  src/actions/validate.ts
  src/cli.ts
Due: eslint --ignore-path .gitignore, prettier --write

fix: fidlabs website
  data/projects/f/fidlabs.yaml
Due: prettier --write

fix: tomo-social description
  data/projects/t/tomo-socials.yaml
Due: prettier --write

fix: smallbraingames description
  data/projects/s/smallbraingames.yaml
Due: prettier --write

fix: invalid artifact elements (#694)
  data/projects/f/fidlabs.yaml
  data/projects/s/smallbraingames.yaml
  data/projects/t/tomo-socials.yaml
Due: prettier --write

typo
  data/projects/a/ambient-finance.yaml
Due: prettier --write

fix typo (#695)
  data/projects/a/ambient-finance.yaml
Due: prettier --write

chore: remove ruff as non-dev dependencies
  poetry.lock
  pyproject.toml
Due: none
